*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 800px;
    padding: 10px;
}
.row{
    display: flex;
}

.col{
    flex-grow: 1;
    flex-basis: 0;
}

h3{
    padding-bottom: 10px;
}